$color_primario: gainsboro;
$color_secundario: black;
$color_terciario: darkgoldenrod;
$degradado_primario: linear-gradient(black,black, black, gainsboro);
$degradado_secundario: linear-gradient(black, gainsboro);
$degradado_terciario: linear-gradient(rgb(170, 122, 3),gainsboro);

